 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/2023-06-27_002544.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 171px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 864px;
}

.u-section-2 .u-shape-1 {
  width: 799px;
  height: 799px;
  margin: 43px auto 0 -201px;
}

.u-section-2 .u-shape-2 {
  width: 760px;
  height: 268px;
  margin: -842px -71px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 268px;
  height: 268px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: url("images/Mikhail_Studio_Devel.png");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -268px 420px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -36px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1595px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 446px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -234px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -186px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 54px;
    margin-right: 50px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1791px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 738px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -330px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -286px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -42px;
    margin-right: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-top: 223px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-top: -71px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 272px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -289px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 217px;
    margin-right: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2839px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 2086px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: -171px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 72px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1952px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 117px;
    margin-right: 350px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 682px;
}

.u-section-3 .u-shape-1 {
  width: 973px;
  height: 973px;
  margin: -339px -209px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 886px;
  height: 886px;
  margin: -886px auto 0 -316px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -605px auto 0 29px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 92px 67px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -341px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -549px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -996px;
  }

  .u-section-3 .u-text-2 {
    width: 652px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    height: 720px;
    margin-top: -269px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1068px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 83px;
    margin-right: 11px;
    margin-left: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-top: -437px;
  }

  .u-section-3 .u-shape-2 {
    width: 540px;
    height: 540px;
    margin-top: -118px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -496px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: -714px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-top: 82px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -19px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 16px;
  }
}.blur {
-webkit-filter: blur(10px);
filter: blur(10px);
}