 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 999px;
}

.u-section-1 .u-shape-1 {
  width: 998px;
  height: 751px;
  margin: 158px auto 0 -109px;
}

.u-section-1 .u-shape-2 {
  width: 836px;
  height: 836px;
  background-image: none;
  margin: -1204px -205px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -541px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 54px auto 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 145px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -528px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-top: 202px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -585px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: -251px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 164px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -264px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 377px;
  }
}.blur {
-webkit-filter: blur(10px);
filter: blur(10px);
}